# Pin mappings for ICE40HX8KCR132

set_io --warn-no-port led1 	A5
set_io --warn-no-port led2 	M4
set_io --warn-no-port switch2 D7
set_io --warn-no-port switch1 D10
set_io --warn-no-port gpio[7] J1
set_io --warn-no-port gpio[6] H1
set_io --warn-no-port gpio[5] G1
set_io --warn-no-port gpio[4] E1
set_io --warn-no-port gpio[3] C3
set_io --warn-no-port gpio[2] A1
set_io --warn-no-port gpio[1] A3
set_io --warn-no-port gpio[0] A4
set_io --warn-no-port seven_seg[0] H3
set_io --warn-no-port seven_seg[1] G3
set_io --warn-no-port seven_seg[2] F3
set_io --warn-no-port seven_seg[3] D1
set_io --warn-no-port seven_seg[4] B1
set_io --warn-no-port seven_seg[5] A2
set_io --warn-no-port seven_seg[6] C4
set_io --warn-no-port seven_seg[7] C5
set_io --warn-no-port seven_seg_sel[0] L1
set_io --warn-no-port seven_seg_sel[1] N1
set_io --warn-no-port tx	P4
set_io --warn-no-port rx 	P5
set_io --warn-no-port flash_cs 	P13
set_io --warn-no-port flash_sck	P12
set_io --warn-no-port flash_sdi	P11
set_io --warn-no-port flash_sdo	M11
set_io --warn-no-port clk  	P7